

$indonesian-red: #DE0000;
$light-grey: #9f9d9d;
$text-grey: #909391;
$dark-green: rgb(20, 126, 47);
$hover-dark-green: rgb(38, 150, 66);
$hover-light-green: rgb(207, 238, 215);
$light-green: rgb(235, 247, 238);
$light-yellow: rgb(255, 252, 224);
$yellow: rgb(224, 204, 25);
$gold: rgb(204, 172, 63);
